.header__list-response {
   box-sizing: border-box;
   list-style: none;
   position: fixed;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: #fff;
   margin-top: 67px;
   transition: left 0.3s ease;
}

.header__list-response li {
   background-color: inherit;
   padding: 15px 0 15px 15px;
   user-select: none;
}

.header__list-response li:hover {
   background-color: var(--whiteColor);
}

.header__list-response .header__link {
   display: block;
}

.header__list-response li:last-of-type {
   cursor: default;
   position: absolute;
   bottom: 10vh;
}

.header__link_mobile:active {
   outline: none;
   -webkit-tap-highlight-color: transparent;
}

.header__list-response li:last-of-type:hover {
   background-color: #fff;
   color: var(--greyColor);
}
