.header__mail {
	font-size: 15px;
	color: var(--greyColor);
	align-self: flex-start;
	transition: ease .3s;
}

.header__mail:hover {
	color: var(--blueColor);
}

@media (max-width: 768px) {
	.header__mail {
		margin-left: 0px;
	}
}