.reviews__top {
   max-width: 80%;
   padding: 15px 80px 50px 50px;
   background-color: #f4f4f4;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   border-radius: 0 80px 80px 80px;
}

@media (max-width: 768px) {
   .reviews__top {
      padding: 15px 50px 25px 30px;
      border-radius: 0 30px 30px;
   }
}

@media (max-width: 480px) {
   .reviews__top {
      padding: 15px;
      border-radius: 0 15px 15px;
   }
}
