.call-btn {
	margin: 15px 0 0 0;
	padding: 20px 40px;
	font-size: 15px;
	font-weight: 500;
	color: var(--whiteColor);
	background-color: var(--blueColor);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: ease .3s;
}

.call-btn:hover {
	opacity: .8;
}