.call-btn {
	margin: 15px 0 0 0;
	padding: 20px 40px;
	font-size: 15px;
	font-weight: 500;
	color: var(--blueColor);
	background-color: var(--whiteColor);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: ease .3s;
}

.call-btn:hover {
	background-color: var(--blueColor);
	color: var(--whiteColor);
}