.callback__form-field {
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
   font-size: 20px;
   color: var(--blueColor);
   background-color: #f5f5f5;
   border: none;
   outline: none;
   border-radius: 4px;
   transition: ease 0.3s;
   position: relative;
}

.callback__form-field:focus {
   box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) {
   .callback__form-field {
      font-size: 16px;
   }
}
