.page {
	/* --- Переменные --- */
	--whiteColor: #fff;
	--blackColor: #35383d;
	--greyColor: #747d8c;
	--tiffanyColor: #63cdda;
	/* --- Переменные --- */
	width: 100%;
	min-width: 320px;
	box-sizing: border-box;
	font-family: 'Rubik', Arial, "Helvetica Neue", Helvetica, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-weight: 400;
	color: var(--greyColor);
	line-height: 1.2;
	background-color: var(--whiteColor);
}