.header__phone {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 500;
	color: var(--greyColor);
	text-decoration: none;
	transition: ease .3s;
}

.header__phone:hover {
	transform: translateX(-5px);
	color: var(--blueColor);
}