.footer__bottom {
  box-sizing: border-box;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 820px) {
  .footer__bottom {
    padding-top: 10px;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
  }
}
