.features__grid {
  margin: 100px 0 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 30px;
}

@media (max-width: 1024px) {
  .features__grid {
    margin-top: 60px;
    grid-template-columns: repeat(2, minmax(240px, 360px));
  }
}

@media (max-width: 768px) {
  .features__grid {
    margin-top: 20px;
    grid-template-columns: minmax(320px, 420px);
    gap: 15px;
  }
}
