.footer__link_type_vk {
	display: flex;
	align-items: center;
}

.footer__link_type_vk::before {
	content: "";
	margin-right: 2px;
	width: 20px;
	height: 20px;
	background-image: url("../../../../images/vk-icon.svg");
	background-repeat: no-repeat;
	background-size: cover;
}