.cards__item {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("../../../images/bg-card.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .cards__item {
    padding: 10px 30px;
    height: 156px;
  }
}

@media (max-width: 768px) {
  .cards__item {
    padding: 20px 30px;
  }
}

@media (max-width: 450px) {
  .cards__item {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px 5px;

    background-image: url("../../../images/vertical_donut.svg");
    background-repeat: no-repeat;
    background-position: center -120px;
    background-size: 252px;
  }
}
