.popup__list {
   box-sizing: border-box;
   max-height: 380px;
   margin: 0;
   padding: 15px 30px;
   list-style: none;
   background-color: var(--blueColor);
   border-radius: 0 30px 30px 30px;
   overflow: scroll;
}

@media (max-width: 480px) {
   .popup__list {
      width: 290px;
   }
}
