.nanny__form-checkbox {
	position: absolute;
	z-index: -100;
	opacity: 0;
}

.nanny__form-checkbox+label {
	display: inline-flex;
	align-items: flex-start;
	user-select: none;
}

.nanny__form-checkbox+label::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: #f5f5f5;
	border-radius: 4px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
	transition: ease .2s;
}

.nanny__form-checkbox:checked+label::before {
	border-color: var(--blueColor);
	background-color: var(--blueColor);
	background-image: url("../../../images/check-mark.svg");
}

.nanny__form-checkbox:not(:disabled):not(:checked)+label:hover::before {
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
}