.logo_place_footer {
  width: 220px;
  height: 220px;
}

@media (max-width: 768px) {
  .logo_place_footer {
    width: 144px;
    height: 144px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .logo_place_footer {
    width: 88px;
    height: 88px;
  }
}
