.logo_place_footer {
  width: 220px;
}

@media (max-width: 768px) {
  .logo_place_footer {
    width: 180px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .logo_place_footer {
    width: 120px;
  }
}