.vacancies__text {
   margin-top: 50px;
   padding-bottom: 50px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
   .vacancies__text {
      margin-top: 25px;
      text-align: justify;
   }
}

@media (max-width: 480px) {
   .vacancies__text {
      margin-top: 15px;
      text-indent: 0;
   }
}
