.cards__description_bordered {
  padding: 15px;
  color: var(--whiteColor);
  text-align: center;
  background-color: #9980fa;
  border-radius: 30px;
}

@media (max-width: 1023px) {
  .cards__description_bordered {
    padding: 10px;
    max-width: 180px;
  }
}

@media (max-width: 450px) {
  .cards__description_bordered {
    text-align: center;
  }
}
