.footer__link {
  color: var(--whiteColor);
  text-decoration: none;
  transition: ease 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
}

.footer__link span {
  text-decoration: underline 1px;
}

@media (max-width: 480px) {
  .footer__link {
    font-size: 14px;
  }
}
