.header__phone-label {
   margin: 8px 0 0 0;
   font-size: 15px;
}

.header__phone-label::before {
   content: url("../../../images/phone-icon.svg");
   margin-right: 5px;
   vertical-align: middle;
}

@media (max-width: 768px) {
   .header__phone-label {
      display: none;
      font-size: 12px;
      margin-top: 0;
      margin-left: 0px;
   }

   .header__phone-label::before {
      content: none;
   }

   .header__phone-label::after {
      content: url("../../../images/phone-icon.svg");
      margin-left: 5px;
      vertical-align: middle;
   }

   .header__phone-label_response {
      display: block;
   }
}
