.header__phone-label {
	margin: 5px 0 0 0;
	font-size: 15px;
	line-height: 1;
}

.header__phone-label::before {
	content: url("../../../images/phone-icon.svg");
	margin-right: 10px;
	vertical-align: middle;
}