.about__list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: grid;
   row-gap: 30px;
   margin-bottom: 20px;
}

@media (max-width: 768px) {
   .about__list {
      row-gap: 15px;
   }
}
