.footer__col {
  margin-right: 50px;
}

.footer__col:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .footer__col:last-child {
    margin-right: auto;
  }

  .footer__col {
    margin: 0 auto;
  }
}
