.services {
  padding-top: 50px;
}

@media (max-width: 1023px) {
  .services {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .services {
    padding-top: 20px;
    display: flex;
  }
}

