.footer__list-el {
  margin: 0 0 5px 0;
}

.footer__list-el:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .footer__list-el {
    margin-right: 30px;
  }

  .footer__list-el:last-of-type {
    margin-right: 0px;
  }
}

@media (max-width: 525px) {
  .footer__list-el {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: normal;
  }
}

@media (max-width: 480px) {
  .footer__list-el {
    margin-bottom: 0;
  }
}

@media (max-width: 340px) {
  .footer__list-el {
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center;
  }
}
