.logo {
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 1063px) {
    .logo {
        height: 240px;
    }
  }

@media (max-width: 1023px) {
    .logo {
        height: 144px;
    }
}

@media (max-width: 767px) {
    .logo {
        height: 88px;

    }
}

@media (max-width: 537px) {
    .logo {
        height: 118px;
        margin-top: 15px;
    }
}