.logo {
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 1024px) {
    .logo {
        width: 180px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 120px;
    }
}

@media (max-width: 537px) {
    .logo {
        margin-top: 15px;
    }
}