.question__text {
  margin-left: 100px;
}

@media (max-width: 1024px) {
  .question__text {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .question__text {
    margin: auto;
    text-align: center;
  }
}