.about__question {
   margin: 0;
   font-size: 30px;
   font-weight: 500;
   line-height: 1;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.about__question::after {
   content: url("../../../images/arrow-icon.svg");
   transform: rotate(-90deg);
   transition: ease-in-out 0.1s;
   margin-left: 10px;
}

@media (max-width: 768px) {
   .about__question {
      font-size: 20px;
   }
}

@media (max-width: 480px) {
   .about__question {
      font-size: 16px;
   }
}
