.cards__circle {
  width: 200px;
  height: 200px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--whiteColor);
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1150px) {
  .cards__circle {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1024px) {
  .cards__circle {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .cards__circle {
    width: 150px;
    height: 150px;
  }
}
