.cards__title {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 1150px) {
  .cards__title {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .cards__title {
    margin-bottom: 7px;
  }
}

@media (max-width: 450px) {
  .cards__text {
    text-align: center;
    font-size: 16px;
  }
}

