.reviews__filter {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
}

@media (max-width: 1280px) {
   .reviews__filter {
      margin: 100px 15px 0;
   }
}

@media (max-width: 768px) {
   .reviews__filter {
      margin: 25px 10px 0;
   }
}

@media (max-width: 480px) {
   .reviews__filter {
      flex-direction: column;
   }
}
