.cards__description {
  margin: 0 0 15px 0;
  font-size: 20px;
  color: var(--greyColor);
}

.cards__description:last-child {
  margin-bottom: 0;
}

@media (max-width: 1150px) {
  .cards__description {
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .cards__description {
    margin-bottom: 7px;
  }
}

@media (max-width: 450px) {
  .cards__description {
    margin: 7px auto 0;
  }
}

